/* Footer.module.css */
.footer {
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  box-shadow: 0 0 16px var(--shadow);
}

.footerSections {
  display: flex;
  justify-content: space-between;

}

.footerSection {
  flex: 1;
  text-align: center; /* Center the content of each section */
}

.footerSection ul {
  list-style: none;
  padding: 0;
}

.footerSection li {
  margin: 0.5rem 0;
}

.footerSection h4 {
  margin-bottom: 15px;
}

.copyright {
  text-align: center;
  margin-top: 20px; /* Add some space above the copyright notice */
}