.container {
    padding: 3rem 0;
    background-color: var(--primary-background-color);
    align-items: center;
    justify-content: space-between; /* Update this line */
    display: flex;
    flex-direction: row;
}

.image {
    position: relative;
    width: 75vw;
    height: 90vh;
    box-shadow: 0 0 2rem var(--shadow);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.block {
    position: relative; /* Add this line */
    left: -10rem; /* Add this line */
    z-index: 1; /* Add this line */
    padding: 2rem;
    border-radius: 0.5rem;
    color: var(--primary-primary-color);
    height: 67.5vh;
    max-width: 100%;
    width: 50vw;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    font-size: 24px;
    box-shadow: -2px 0 16px var(--primary-background-color), 8px 0 32px var(--shadow);
}

.block p {
  font-size: 23px;
}

.block hr {
    margin-bottom: 0.5rem;
}

.block button {
    padding: 1rem 1rem;
    margin: 2rem 0 0 0;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--primary-button-color);
    color: var(--primary-background-color);
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 2rem var(--shadow);
}

.block button:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .container {
      box-shadow: 0 0 2rem var(--shadow);
      flex-direction: row;
      padding: 0;
    }
  
    .image {
      width: 60%; /* Set the width to 50% */
      height: 44.5vh;
      border-radius: 0;
      box-shadow: none;
    }
  
    .block {
      left: 0; /* Reset the left property */
      width: 40%; /* Set the width to 50% */
      height: 41.1vh;
      padding: 1rem;
      font-size: 16px; /* Make the text smaller */
      border-radius: 0;
      box-shadow: none;
    }
  
    .block p {
      font-size: 13px;
    }
  
    .block button {
      margin: 0.5rem 0;
      padding: 0.5rem 0.5rem;
      font-size: 11px; /* Make the button text smaller */
    }
}

@media screen and (max-width: 430px) {
    .block p {
        font-size: 11px;
    }
}

@media screen and (max-width: 428px) {
    .block p {
        font-size: 10px;
    }

    .block button {
        font-size: 10px;
    }
}

@media screen and (max-width: 414px) {
    .block p {
        font-size: 10px;
    }

    .block button {
        margin-top: 1rem;
        font-size: 10px;
    }
}

@media screen and (max-width: 391px) {
   .block p {
        font-size: 9.5px;
    }

    .block button {
        margin-top: 0.5rem;
        font-size: 9.5px;
    }
}