.container {
    padding: 3rem 0;
    background-color: var(--primary-background-color);
    align-items: center;
    justify-content: space-between; /* Update this line */
    display: flex;
    flex-direction: row;
}

.image {
    position: relative;
    width: 75vw;
    height: 100vh;

}

.block {
    position: relative; /* Add this line */
    left: -10rem; /* Add this line */
    z-index: 1; /* Add this line */
    padding: 2rem;
    color: var(--primary-secondary-color);
    height: 50vh;
    width: 25vw;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    font-size: 24px;
    box-shadow: -2px 0 16px var(--primary-background-color), 8px 0 16px var(--secondary-color); /* Update this line */
}

.block p {
    padding-top: 2rem;
}

.line {
    height: 0.5vh;
    width: 15vw;
    background-color: var(--tertiary-color);
}