:root {
    --primary-background-color: #DCE0DF;
    --secondary-background-color: #F6F8F7;
    --primary-text-color: #292E3D;
    --primary-button-color: #EF820D; 
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #DCE0DF;
  color: #292E3D;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
