.navbar {
    padding: 1rem 0;
  }
  
  .container {
    background-color: #F6F8F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 0 1rem rgba(239, 130, 13, 0.7);
    color: #292E3D;
  }
  
  .sections {
    list-style: none;
    margin: 2.5rem;
    padding: 0;
    display: flex;
    float: right; 
  }
  
  .item {
    margin-left: 1.5rem;
    font-size: 24px;
  }

  .item:hover {
    color: #EF820D; /* Change the color on hover */
  }
  
  .logo {
    list-style: none;
    margin: 1rem;
    padding: 0;
    display: flex;
    float: left; 
  }