.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--primary-background-color);
  color: var(--secondary-text-color);
}

.sections {
  list-style: none;
  margin: 2.5rem;
  padding: 0;
  display: flex;
  float: right; 
}

.item {
  padding-left: 2rem;
  font-size: 24px;
}

.item:hover {
  color: var(--primary-button-color); /* Change the color on hover */
}

.logo {
  list-style: none;
  margin: 1rem;
  padding: 0;
  display: flex;
  float: left; 
}