.container {
  background-color: #F6F8F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: #292E3D;
  border-bottom: 2rem;
  box-shadow: inset 0 4px 16px rgba(239, 130, 13, 0.7);
}

.sections {
  list-style: none;
  margin: 2.5rem;
  padding: 0;
  display: flex;
  float: right; 
}

.item {
  margin-left: 1.5rem;
  font-size: 24px;
}

.item:hover {
  color: #EF820D; /* Change the color on hover */
}

.logo {
  list-style: none;
  margin: 1rem;
  padding: 0;
  display: flex;
  float: left; 
}