.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 0;
}

.heading {
    padding: 1rem;
    background-color: var(--secondary-background-color);
    border-radius: 0.5rem;
    
}

.services {
    list-style: none;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20rem;
    color: var(--secondary-background-color);
}

.service {
    list-style: none;
    background-color: var(--primary-text-color);
    border-radius: 0.5rem;
    padding: 1rem;
}

.service_types {
    list-style: none;
}

.image {
    height: 90vh;
    width: 100vw;
    border-bottom: 0.2rem solid var(--primary-button-color);
    opacity: 80%;
}

.overlay {
    padding: 1rem;
    transform: translate(0%, -200%);
    text-align: center;
}