.section {
    width: 100%; 
    height: 100%;
    position: relative;
    background-color: #F6F8F7;
    place-items: center;
    place-content: center;
    display: grid;
    box-shadow: inset 0 0 16px rgba(239, 130, 13, 0.7);
    padding: 4rem 0;
}

.section h2 {
    font-size: 60px;
    font-weight: 700px;
}

.section button {
    width: 12rem;
    height: 3.5rem;
    background-color: #EF820D;
    border-radius: 4rem;
    font-size: 18px;
    color: #FFFFFF;
    
}

.section button:hover {
    opacity: 80%;
    cursor: pointer;
}

.container {
    display: grid;
    margin: 2rem 0;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
}

.line_light {
    margin: 1rem;
    height: 2px; 
    background-color: #FFFFFF;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.line_dark {
    margin: 1rem;
    height: 2px; 
    background-color: #292E3D;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.card_light {
    margin: 2rem 2rem;
    width: 271px;
    height: 181px;
    padding: 2rem;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(239, 130, 13, 0.7);
    border-radius: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    display: inline;
    color: #EF820D; 
    font-size: 20px;
}

.card_dark{
    margin: 2rem 2rem;
    width: 271px;
    height: 181px;
    padding: 2rem;
    position: relative;
    background-color: #292E3D;
    box-shadow: 0 0 1rem #292E3D;
    border-radius: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: #F6F8F7;
    font-size: 20px; 
}

.icon_light {
    color: #FFFFFF;
    height: 40%;
    width: 40%;
}

.icon_dark {
    color: #292E3D;
    height: 40%;
    width: 40%;
}