.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem 0;
}

.container h1 {
    font-size: 60px;
    font-weight: 700;
}

.gridContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem 0;
}

.gridContent h1 {
    font-size:  60px;
    font-weight: 700;
    text-align: center;
}

.gridContent hr {
    margin: 0 auto;
    width: 25vw;
    height: 0.2vh;
    background-color: var(--shadow);
}

.content {
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(3, 1fr); /* Update this line */
    margin-top: 10rem;
}

.service {
    margin: 2rem;
    box-shadow: 0 0 32px var(--shadow);
}

.serviceTitle {
    font-size: 36px;
    font-weight: 700px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.services {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    width: 65vw;
    box-shadow: 0 0 32px var(--shadow);
    margin-top: 4rem;
    border-radius: 0.5rem;
}

.services h2 {
    font-size: 36px;
    font-weight: 700px;
    padding: 0.5rem 0 0.5rem 2rem;
}

.services p {
    padding: 0.5rem 0 0 2rem;
    font-size: 20px;
}

.services ul {
    font-size: 20px;
}

.services ul {
    list-style-type: square;
}

.services ul li {
    margin: 0.5rem;
}

.interior, .exterior {
    display: flex;
    justify-items: center;
    align-items: center;
}

.interior h2, .exterior h2 {
    font-size: 24px;
}

.interior ul {
    padding: 2rem;
}

.exterior ul {
    padding: 2rem;
}

.imageContainer {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.imageContainer:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.imageContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.imageContainer:hover::before {
    opacity: 1;
}

.serviceName {
    color: var(--primary-text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease;
}

.imageContainer:hover .serviceName {
    opacity: 1;
}

.line {
    height: 0.5vh;
    width: 25vw;
    background-color: var(--shadow);
    margin-left: 2rem;
}

@media (max-width: 926px) {
    .content {
      grid-template-columns: repeat(1, 1fr); /* Update this line */
      margin-top: 5rem;
    }

    .content h2 {
        font-size: 36px;
    }

    .content hr {
        margin: 0.5rem;
        width: 65vw;
    }
  
    .service {
      margin: 1rem;
      box-shadow: 0 0 16px var(--shadow);
    }
  
    .services {
      width: 100vw; /* Update this line */
      border-radius: 0;
    }

    .services h2 {
        font-size: 24px;
    }

    .list h2 {
        font-size: 20px;
    }
  
    .imageContainer:hover {
      transform: none; /* Disable zoom on hover */
    }

    .interior, .exterior {
        display: block; /* Stack the items vertically */
        padding: 0;
        margin: 0;
    }

    .interior h2, .exterior h2 {
        padding: 2rem 0 1rem 0;
        text-align: center;
        font-size: 24px;
    }

    .interior ul, .exterior ul {
        text-align: center;
        padding: 0;
        list-style: none;
    }

    .list {
        flex-direction: column; /* Stack the items vertically */
        gap: 0;
    }
}