.container {
    padding: 4rem 10rem;
    background-color: #F6F8F7;
    place-items: center;
    place-content: center;
    display: grid;
    box-shadow: inset 0 4px 16px rgba(239, 130, 13, 0.7);
}

.container h2 {
    color: #292E3D;
    font-size: 60px;
    font-weight: 700px; 
}

.testimonials {
    margin: 1rem 1rem;
    list-style: none;
}

.testimonial {
    margin: 5rem 0;
    padding: 1rem 1rem;
    background-color: #DCE0DF;
    border-radius: 0.5rem;
    color: #292E3D;
    font-size: 24px;
}